* {
  font-family: "Montserrat", sans-serif;
}

.tracking-in-expand {
  animation: tracking-in-expand 2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

.a2 {
  font-size: 1.3rem;
}

.a3 {
  margin-top: 5rem;
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (min-width: 480px) {
  .pagination {
    text-align: end;
  }

  .img {
    width: 50rem;
  }

  .tel {
    font-size: 3rem;
  }

  .a2 {
    font-size: 2rem;
  }
}
